<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <label for="bookName">Book name:</label></br>
    <input th:type="text" th:field="*{bookName}" id="bookName"/></br></br>
    <label for="bookAuthor">Book author:</label></br>
    <input th:type="text" th:field="*{bookAuthor}" id="bookAuthor"/></br></br>
    <label for="bookYear">Book year:</label></br>
    <input th:type="text" th:field="*{bookYear}" id="bookYear"/></br></br>
    <input type="submit" value="Update">
</form>

</body>
</html>