<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <label for="bookName">Book name:</label></br>
    <input th:type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Error</div>
    </br></br>
    <label for="bookAuthor">Book author:</label></br>
    <input th:type="text" th:field="*{bookAuthor}" id="bookAuthor"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookAuthor')}" th:errors="*{bookAuthor}">Error</div>
    </br></br>
    <label for="bookYear">Book year:</label></br>
    <input th:type="text" th:field="*{bookYear}" id="bookYear"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}">Error</div>
    </br></br>
    <input type="submit" value="Update">
</form>

</body>
</html>