<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getBookName()} + ', ' + ${book.getBookAuthor()} + ', ' + ${book.getBookYear()}"/>

<p text="This book is free. How will be read it?">

<form th:method="PATCH" th:action="@{/books/set-reader}">
    <label for="person">Choose a person:</label>
    <select th:object="${person}" th:field="*{personId}" id="person">
        <option th:each="person : ${people}"
                th:value = "${person.getPersonId()}"
                th:text="${person.getPersonName()}">
        </option>
    </select>
    <input type="hidden" th:object="${book}" th:field="*{bookId}" th:value="${book.getBookId()}">
    <input type="submit" value="Set">
</form>

<hr width="100%;" color="red" size="5">


<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="edit">
</form>
</br>

<form th:method="DELETE" th:action="@{/books/{id}/(id=${book.getBookId()})}">
    <input type="submit" value="delete">
</form>
</br>

<a href="/books">List of book</a>
</body>
</html>